CAREERENGINE_SEND_EMAIL=false

CAREERENGINE_SMTP_HOST=smtp.gmail.com
CAREERENGINE_SMTP_PORT=587

CAREERENGINE_EMAIL_FROM=your_email@gmail.com
CAREERENGINE_EMAIL_TO=your_email@gmail.com
CAREERENGINE_EMAIL_USERNAME=your_email@gmail.com
CAREERENGINE_EMAIL_PASSWORD=your_app_password_here
